.card-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    margin-bottom: 30px;
}

.card{
    position: relative;
    text-decoration: none;
    color: white;
}

.card img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.title-cards h2{
    margin-bottom: 8px;
}

.card-name {
    position: absolute;
    bottom: 10px;
    right: 5px;
    z-index: 10;
    max-width: 90%; 
    font-weight: 500;
    text-align: right;
}

.card-list {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.card-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

@media (max-width: 900px) {
    .title-cards h2{
        font-size: 1.3rem;
    }
    .card img{
        width: 210px;
    }
    .card-name{
        font-size: 0.9rem;
    }
}
@media (max-width : 750px){
    .card img{
        width: 200px;
    }
    .card-name{
        font-size: 0.85rem;
    }
    .title-cards h2{
        font-size: 1.2rem;
    }
    .card-list{
        gap: 8px;
        margin-bottom: 25px;
    }
}
@media (max-width : 650px){
    .card img{
        width: 190px;
    }
    .title-cards h2{
        font-size: 1.15rem;
    }
}
@media (max-width : 550px){
    .card img{
        width: 180px;
    }
    .card-name{
        font-size: 0.8rem;
    }
    .title-cards h2{
        font-size: 1.1rem;
    }
    .card-list{
        gap: 6px;
        margin-bottom: 20px;
    }
}
@media (max-width : 500px){
    .card img{
        width: 170px;
    }
    .card-name{
        font-size: 0.75rem;
    }
    .title-cards h2{
        font-size: 1.05rem;
    }
    .card-list{
        gap: 5px;
        margin-bottom: 18px;
    }
}
@media (max-width : 450px){
    .card img{
        width: 160px;
    }
    .card-name{
        font-size: 0.7rem;
    }
    .title-cards h2{
        font-size: 1rem;
    }
    .card-list{
        gap: 4px;
        margin-bottom: 15px;
    }
}

@media (max-width : 330px){
    .card img{
        width: 150px;
    }
    .card-name{
        font-size: 0.65rem;
    }
    .title-cards h2{
        font-size: 0.95rem;
    }
    .card-list{
        margin-bottom: 12px;
    }
}