.card-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    margin-bottom: 30px;
}

.card{
    position: relative;
    text-decoration: none;
    color: white;
}

.card img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.title-cards h2{
    margin-bottom: 8px;
}

.card-name {
    position: absolute;
    bottom: 10px;
    right: 5px;
    z-index: 10;
    max-width: 90%; 
    font-weight: 500;
    text-align: right;
}

.card-list {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.card-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

