.navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 14px 6%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    width: 100px;
    height: fit-content;
    display: inline;
    cursor: pointer;
}

.left-navbar {
    display: flex;
    gap: 40px;
}

.left-navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 0.9rem;
    align-self: center;
}

.left-navbar ul li:hover{
    cursor: pointer;
    color: hsl(0, 0%, 80%);
}

.right-navbar {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.right-navbar p {
    font-size: 0.8rem;
}

.bell-icon,
.search-icon {
    width: 1.05rem;
}

.profile-img {
    border-radius: 0.3rem;
}

.nav-dark{
    background-color: black;
}

.profile{
    display: flex;
    gap: 8px;
}

.right-navbar .profile span {
  position: absolute;
  top: 46px;
  right: 60px;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px 10px;
  cursor: pointer;
  display: none;
}

.profile:hover span{
  display: block;
}

.right-navbar span:hover {
  display: block;
  text-decoration: underline;
}

@media (max-width : 1080px){
    .left-navbar ul{
        display: none;
    }
}

@media (max-width : 900px){
    .navbar{
        padding: 14px 4%;
    }
    .profile-img{
        width: 25px;
    }
    .logo{
        width: 90px;
    }
}
@media (max-width : 650px){
    .profile-img{
        width: 20px;
    }
    .logo{
        width: 80px;
    }
    .profile .caret-icon{
        width: 10px;
    }
}
@media (max-width : 430px){
    .navbar{
        padding: 12px 4%;
    }
    .logo{
        width: 70px;
    }
    .right-navbar p{
        font-size: 0.7rem;
    }
    .bell-icon,
    .search-icon {
        width: 0.9rem;
    }
    .profile-img{
        width: 19px;
    }
    .profile .caret-icon{
        width: 7px;
    }
}
@media (max-width : 330px){
    .navbar{
        padding: 12px 2%;
    }
    .logo{
        width: 60px;
    }
    .right-navbar p{
        font-size: 0.6rem;
    }
    .bell-icon,
    .search-icon {
        width: 0.8rem;
    }
    .profile-img{
        width: 15px;
        border-radius: 3px;
    }
    .profile .caret-icon{
        width: 6px;
    }
}