.hero-section{
    position: relative;
    margin-bottom: 50px;
}

.hero-img{
    width: 100%;
    mask-image: linear-gradient(to right ,transparent , black 75%);
}

.hero-caption{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 6%;
}

.hero-title{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}

.hero-caption .hero-text{
    width: 700px;
    font-size: 1.05rem;
    margin-bottom: 20px;
}

.hero-btns{
    width: 100;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.play-btn img,
.info-btn img{
    width: 25px;
}

.play-btn{
    background: hsl(0, 0%, 100%);
    border: 0;
    border-radius: 5px;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.play-btn:hover{
    background:  hsl(0, 0%, 85%);
}

.info-btn{
    background: hsla(0, 0%, 50%, 0.8);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.info-btn:hover{
    background: hsla(0, 0%, 50%, 0.7);
}

.more-cards{
    padding-left: 6%;
}

@media (max-width:1400px) {
    .hero-title{
        width: 90%;
        max-width: 350px;
        margin-bottom: 25px;
    }

    .hero-caption .hero-text{
        width: 650px;
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .hero-btns{
        margin-bottom: 40px;
    }

    .play-btn img,
    .info-btn img{
        width: 23px;
    }

    .play-btn{
        padding: 7px 18px;
        font-size: 15px;
    }

    .info-btn{
        padding: 7px 18px;
        font-size: 15px;
    }
}

@media (max-width:1250px) {
    .hero-title{
        width: 90%;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .hero-caption .hero-text{
        width: 600px;
        font-size: 0.9rem;
        margin-bottom: 10px;
    }

    .hero-btns{
        margin-bottom: 30px;
    }

    .play-btn img,
    .info-btn img{
        width: 21px;
    }

    .play-btn{
        padding: 6px 16px;
        font-size: 14px;
    }

    .info-btn{
        padding: 6px 16px;
        font-size: 14px;
    }

    .hero-img{
        height: 90vh;
    }

    .hero-section{
        margin-bottom: 40px;
    }
}

@media (max-width:1100px) {
    .hero-img{
        height: 85vh;
    }
    .hero-btns{
        margin-bottom: 25px;
    }
    .hero-title{
        max-width: 290px;
        margin-bottom: 13px;
    }
    .hero-caption .hero-text{
        width: 570px;
        font-size: 0.85rem;
        margin-bottom: 8px;
    }
    .hero-section{
        margin-bottom: 35px;
    }

}

@media (max-width : 900px){
    .hero-img{
        height: 80vh;
    }
    .hero-btns{
        margin-bottom: 20px;
    }
    .hero-title{
        max-width: 250px;
        margin-bottom: 10px;
    }
    .hero-caption .hero-text{
        width: 530px;
        font-size: 0.8rem;
    }
    .play-btn img,
    .info-btn img{
        width: 19px;
    }
    .play-btn{
        padding: 5px 14px;
        font-size: 13px;
    }
    .info-btn{
        padding: 5px 14px;
        font-size: 13px;
    }
    .hero-caption{padding-left: 4%}
    .more-cards{ padding-left: 4%;}

}
@media (max-width : 750px){
    .hero-img{
        height: 75vh;
    }
    .hero-btns{
        margin-bottom: 15px;
    }
    .hero-title{
        max-width: 240px;
        margin-bottom: 8px;
    }
    .hero-caption .hero-text{
        width: 500px;
        font-size: 0.75rem;
    }
    .play-btn img,
    .info-btn img{
        width: 17px;
    }
    .play-btn{
        padding: 4px 12px;
        font-size: 12px;
    }
    .info-btn{
        padding: 4px 12px;
        font-size: 12px;
    }
    .hero-section{margin-bottom: 30px;}
}
@media (max-width : 650px){
    .hero-img{
        height: 70vh;
    }
    .hero-btns{
        margin-bottom: 10px;
        gap: 8px;
    }
    .hero-title{
        max-width: 220px;
        margin-bottom: 6px;
    }
    .hero-caption .hero-text{
        width: 470px;
        font-size: 0.7rem;
    }
    .play-btn img,
    .info-btn img{
        width: 15px;
    }
    .play-btn{
        padding: 3px 10px;
        font-size: 11px;
        gap: 8px;
    }
    .info-btn{
        padding: 3px 10px;
        font-size: 11px;
        gap: 8px;
    }
}

@media (max-width : 550px){
    .hero-img{
        height: 65vh;
    }
    .hero-btns{
        margin-bottom: 5px;
    }
    .hero-title{
        max-width: 200px;
        margin-bottom: 4px;
    }
    .hero-caption .hero-text{
        width: 400px;
        font-size: 0.65rem;
    }
    .hero-section{margin-bottom: 25px;}
}
@media (max-width : 500px){
    .hero-img{
        height: 60vh;
    }
    .hero-title{
        max-width: 185px;
    }
    .hero-caption .hero-text{
        width: 370px;
    }
}
@media (max-width : 450px){
    .hero-img{
        height: 61vh;
    }
    .hero-caption .hero-text{
        width: 350px;
    }
    .hero-section{margin-bottom: 20px;}
    .hero-caption{padding-left: 3%}
    .more-cards{ padding-left: 3%;}
}
@media (max-width : 380px){
    .hero-caption .hero-text{
        width: 270px;
    }
}
@media (max-width : 330px){
    .hero-img{
        height: 58vh;
    }
    .hero-title{
        max-width: 130px;
    }
    .hero-caption .hero-text{
        width: 230px;
    }
    .hero-section{margin-bottom: 15px;}
    .hero-caption{padding-left: 2%}
    .more-cards{ padding-left: 2%;}
}