.hero-section{
    position: relative;
    margin-bottom: 50px;
}

.hero-img{
    width: 100%;
    mask-image: linear-gradient(to right ,transparent , black 75%);

}

.hero-caption{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 6%;

}

.hero-title{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}

.hero-caption p{
    width: 700px;
    font-size: 1.05rem;
    margin-bottom: 20px;
}

.hero-btns{
    width: 100;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.play-btn img,
.info-btn img{
    width: 25px;
}

.play-btn{
    background: hsl(0, 0%, 100%);
    border: 0;
    border-radius: 5px;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.play-btn:hover{
    background:  hsl(0, 0%, 85%);
}

.info-btn{
    background: hsla(0, 0%, 50%, 0.8);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.info-btn:hover{
    background: hsla(0, 0%, 50%, 0.7);
}

.more-cards{
    padding-left: 6%;
}